body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

#left-column{
    width: 60%;
    float: left;
    background-color: lightgreen;
}

#right-column img{
    width: 500px;
    margin-left: -70px;
    margin-top: -50px;
}

#right-column p{
    color: red;
    text-align: center;
    font-size: 50px;
}

img#logo{
    position: fixed;
    width: 150px;
    bottom: 20px;
    right: 10px;
}